<%- include('header') %>
<div class="diffSection" id="portfolio_section">
    <center><p style="font-size: 50px; padding: 100px; padding-bottom: 40px;">Portfolio</p></center>
    <div class="content">
        <p>
            “Education is the passport to the future, for tomorrow belongs to those who prepare for it today.” “Your attitude, not your aptitude, will determine your altitude.” “If you think education is expensive, try ignorance.” “The only person who is educated is the one who has learned how to learn …and change.”
        </p>
    </div>
</div>
<div class="extra">
    <p>We're increasing this data every year</p>
    <div class="smbox">
    <span><center><div class="data">154</div><div class="det">Enrolled Students</div></center></span>
    <span><center><div class="data">62</div><div class="det">Total Courses</div></center></span>
    <span><center><div class="data">56</div><div class="det">Placed Students</div></center></span>
    <span><center><div class="data">27</div><div class="det">Total Projects</div></center></span>
    </div>
</div>
<%- include('footer') %>
