<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit</title>
    <style>
     body{
        background-color: beige;
        height:200px;
     }
    </style>
</head>
<body>
    <h1>Awesome!!!</h1><br>
    <h2>Your detail has been recorded.</h2>
    <a href="home">Back to home</a>
</body>
</html>